@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
<head>

</head>
<html>
<body>
    <br />
    <br />

    <h1>
        Create Event page: CreateEvent Model is already created. Check Models Folder
    </h1>
</body>
</html>