@model List<WeLinkUp.Models.CreateEvent>

<html>
<body>
    @foreach (CreateEvent e in Model) {
            <form method="post" asp-action="Detail">
                      <input value="@e.EventTitle"/>
                <input type="hidden" value="@e.EventId" name="Id"/>
                <input type="submit" value="Details" />
            </form>
            }
</body>
</html>
