
<html>
<head>


</head>

<body>
    <br />
    <br />
    <h1>Calendar page</h1>
    <script src="~/js/daypilot/daypilot-all.min.js" asp-append-version="true"></script>
    <!--Hope this is helpful with the calendar parts-->
    <!--https://code.daypilot.org/95109/html5-monthly-calendar-and-asp-net-core?fbclid=IwAR0fdsE_MjaaeOhIJhxLESwuvCHxOv7uXJF4V3Mse-BMKJvdVkmYpuMu9wE-->
    <div id="dp"></div>

    <script>

        var dp = new DayPilot.Month("dp");
        dp.init();

    </script>

</body>
</html>
