@model List<WeLinkUp.Models.ApplicationUser>
@{
    ViewData["Title"] = "SearchUser";
}
<head>
    <link href="~/css/style1.css" rel="stylesheet" />
  
</head>
<body>
    <br />
    <br />
    <br />


    <header class="w3-container w3-center w3-padding-32">
        <h1>SearchUser</h1>
    </header>
    <div class="w3-row">
        <div class="w3-container">
            @if (ViewBag.result != null)
            {
                <span class="text-danger">@ViewBag.result</span>
            }
            else
            {
                <table>
                    <tr>
                        <th>
                            Profile picture
                        </th>
                        <th>
                            Username
                        </th>
                        <th>
                            Action
                        </th>
                    </tr>


                    @foreach (var item in Model)
                    {
                        <tr>
                            <td>
                                <img class="profile" src="@Url.Content("http://softwareprojectnew2.s3.amazonaws.com/UserProfile/" + item.Image)" alt="" />
                            </td>
                            <td>@Html.DisplayFor(modelItem => item.UserName)</td>

                            <td> <a asp-action="Friends" asp-route-id="@item.Id">Add</a> </td>
                        </tr>
                    }

                </table>}
        </div>
    </div>
    <div class="w3-center"><a href="##" onClick="history.go(-1); return false;"> Go Back</a></div>
</body>